*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a12{
  display: inline-block;
  width: 275px;
  padding: 8px;
  margin: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.a12 .px200{
  width: 200px;
  background-color: skyblue;
}
.a12 .px75{
  width: 75px;
  background-color: pink;
}
.b12{
  padding: 8px;
  margin: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.b12 .item1{
  width: 50px;
  background-color: pink;
}
.b12 .item2{
  flex: 1;
  background-color: skyblue;
}
.b12 .item3{
  background-color: pink;
  width: 75px;
}
.c12{
  padding: 8px;
  margin: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c12 p{
  background-color: pink;
}
.d12{
  padding: 8px;
  margin: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d12 p{
  background-color: pink;
}
.e12{
  background-color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.e12 .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  8px 0;
}
.e12 .row p{
  font-size: 18px;
  font-weight: bold;
}
.e12 .row button{
  background-color: blue;
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 24px;
}
.g12{
  background-color: #fff;
  width: 400px;
  padding: 10px;
}
.g12 .g-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.g12 .g-row .g-left{
  flex: 1;
  display: flex;
  align-items: center;
}
.g12 .g-row .g-left img{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
}
.g12 .g-right button{
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: bold;
}
.f12{
  background-color: #ca3390;
  margin-top: 10px;
  padding: 10px;

}
.f12 .line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f12 .line h3{
  width: 100px;
  color: #fff;
}
.f12 .line input{
  flex: 1;
  max-width: 400px;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
}
.f12 .line button{
  width: 100px;
  background-color: #ca3390;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 20px;
}