*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: silver;
    font-family: sans-serif;
}
.block{
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
section{
    background-color: yellowgreen;
    overflow: hidden;
    border: 1px solid #333;
    padding: 1rem;
}
p{
    text-align: justify;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}