*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: silver;
  font-family: sans-serif;
}
.a7{
  background-color: #fff;
  width: 300px;
}
.a7 img{
  width: 200px;
  padding: 20px;
  border-radius: 20%;
}
.c7{
  background-color: #fff;
  width: 300px;
}
.c7 img{
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 50%;
}
.d7{
  background-color: #fff;
  width: 300px;
  margin: 10px;
}
.d7 input{
  padding: 8px 20px;
  margin: 2px;
  border-radius: 4px;
}
.e7{
  background-color: #fff;
  width: 300px;
  margin: 10px;
}
.e7 input{
  padding: 8px 20px;
  margin: 20px;
  border: none;
  border-radius: 24px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.f7{
  width: 390px;
  margin: 10px auto;
  background-color: #fff;
  padding: 10px;
}
.f7 *{
  margin-bottom: 4px;
}
.f7 span{
  color: rgb(96, 96, 96);
}
.f7 input{
  width: 100%;
  padding: 4px 0;
}
.f7 button{
  background-color: blue;
  width: 100%;
  padding: 8px 20px;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
}
.g7{
  background-color: #fff;
  width: 400px;
  padding: 10px;
}
.g7 img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}
.g7 input{
  border: none;
  font-size: 18px;
  margin-left: 4px;
}
.g7 button{
  background-color: rgb(121, 121, 216);
  border: none;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 24px;
  font-weight: bold;
  font-size: 18px;
}